button, input[type="submit"]{
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 2px;
}

button:focus, input[type="submit"]:focus{
    outline: 0;
}

button#open-new-card-form{
    background-color: #48f;
}
#new-card-form-container{
    border: solid 1px #48f;
    border-radius: 2px;
}
.new-card-type{
    display: block;
    float: left;
    width: 65px;
    background-color: #eee;
    border-radius: 2px;
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;

}
input[type="text"]{
    display: block;
    border-radius: 2px;
    border: solid 1px #eee;
    font-size: 1.2em;
    vertical-align: bottom;
    width: 100px;
    margin: 3px;
    margin-left: 0px;
    
}
input#add-new-card{
    background-color: #4d4;
}

ul#card-list{
    list-style-type: none;
}

li.card{
    display: block;
    width: 250px;
    height: 100px;
    float: left;
    border: solid 1px #000;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}

.card-name{
    color: #d24;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

img.icon16{
    width: 16px;
    height: 16px;
    float: left;
}

